fastapi
uvicorn[standard]
sqlmodel
asyncpg
python-dotenv
pydantic-settings
alembic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
argon2-cffi
email-validator
httpx
fastapi-mail
supabase
reportlab
qrcode
pillow
python-barcode
resend

# PDFs / OCR
pypdf
pymupdf
pytesseract

# LLM tooling (lightweight)
langchain
langchain-community
langchain-openai
langchain-text-splitters
openai

# Vector DB (still heavy, but manageable)
chromadb




# fastapi
# uvicorn[standard]
# sqlmodel
# asyncpg
# python-dotenv
# pydantic-settings
# alembic
# python-multipart
# python-jose[cryptography]
# passlib[bcrypt]
# email-validator
# pypdf
# argon2-cffi
# pytest
# httpx
# pytest-asyncio
# fastapi-mail
# supabase
# reportlab
# qrcode
# pillow
# resend
# langchain
# langchain-community
# langchain-openai
# langchain-text-splitters
# unstructured[pdf]
# openai
# chromadb
# pymupdf
# pytesseract